/* Empty. Add your own CSS if you like */


.category .product{
    width: 50%;
    float: left;
    height: 200px;
    text-align: center;
}
.category .product .bottom_box .price{                       
    float: left;
    width: 90%;
}
.category .product .bottom_box .heart{                       
    float: left;
    width: 10%;
}
.category .product .bottom_box .heart .icon{
    font-size:1.5em;
}

.category .product .image{
    height: 100px;
}
.category .product .image img{
    height: 100%;
    max-width: 100%;
}

.top{
    top:45px;
    position: relative;
}

.right_menu{
    display: none;
    position: absolute;
    top:45px;
    width: 150px;
    background-color: #fff;
}
.prog_inner{
    background-color: black;
    height: 2px;
}


/**
Scroll On Product Page
**/

#scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 5000px;
    height: 100%;
    background-color: #fff;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

#scroller ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

#scroller li {
    display: block;
    float: left;
    width: 200px;
    height: 100%;
    border-right: 1px solid #ccc;
    background-color: #fafafa;
    font-size: 14px;
    z-index: 9999;
}

.hidden {
    display: none;
}

/**************************Side Menu*********************************/
.scroll-content .scroll ul li.list-not-cat{border-bottom-style:none; }
.scroll-content .scroll ul li {
font-weight: bold;
color: #000;
border-bottom: 1px solid #ececec; 
line-height: 42px;
}

.scroll-content .scroll ul li ul{
margin: -8px 0 10px;
}
.scroll-content .scroll ul{
margin:  0px 20px;
}
.scroll-content .scroll ul li a{
text-decoration: none;
}
.scroll-content .scroll ul li ul li {
font-weight: normal;
color: #999999;
 border-bottom-style:none;
line-height: 28px;
}
i.fa-map-marker,i.fa-user{color:#db500d;}
li a.internal-details{font-weight:normal; color:#000;}
li.sub-cat-label > span{font-weight: normal; color:#000;}
span.plus-minus{float: right;}

/**************************closed Side Menu*********************************/

/**************************Sign up/login*********************************/
div#account-page button:hover ,.pro-info button:hover ,.pro-button:hover{color:#fff;}
div#account-page button{min-height: 40px;max-height:43px; overflow:hidden;}
.google-button{width:100%; background-color:#e25b47;color:#fff;padding-left:0px; padding-right:42px;border-radius: 5px;}
.fb-button{width:100%; background-color:#506da9;color:#fff;padding-left:0px;padding-right:42px;border-radius: 5px;}
.signup-button{width:100%; border-color: #da500f;background-color:#da500f;color:#fff;padding-left:0px;border-radius: 5px;font-weight: bold;font-family: "Arial", Times, serif;}
.fb-social-icon{float: left; padding: 12.5px 0; background-color: #253b6c; width: 46px;}
.g-social-icon{float: left; padding: 12.5px 0; background-color: #a12b1d; width: 46px;}
.alter{text-align:center;color:#959595;margin: 29px 0px 10px;}
.login-click{color:#d94f0e;font-weight: bold;}
.check-account{color:#bebebe;}
.social-site-name{font-weight:bold;}
.brand-image{text-align:center;margin: 31px 5px;}
.forget-pass{float:right;padding-right:13px;color:#da500f;text-decoration: underline;font-style: italic;margin-bottom:7px;}
.activated i{background-color:#E5E5E5;}
/************************** closed Sign up/login*********************************/

/**************************product page*********************************/

.img-heart{position: absolute; top: 9px; right: 13px;color: #da500f;}
.img-heart i{font-weight: 900;}
.pro-info{width:99%;font-family:serif,Times,serif;padding: 2px 10px 10px 15px;text-align: left;border-top:1px solid #d1d1d1; border-bottom:1px solid #d1d1d1;margin-top: -6px;}
.pro-name{margin-bottom:8px;font-family: sans-serif,small-caption,Tahoma;}
.pro-button{float:right;color:#fff; background-color:#da500f;line-height: 16px; border-radius: 4px;border-style: none;}
.pro-info button{min-height: 28px;}
.pro-img{background-color:#fff;text-align:center;}
span.arrow{color:red;}
.e-site{color:#959595;}
.pro-price{float: left;font-size: 16px;line-height: 16px;color:#737373;font-weight: bold;}
.arrow , .e-site{font-size:10px;}
.similar-product-label{text-align: left;padding: 11px 15px; background-color:#eee7dd;font-family: "DejaVu Serif",Times,serif;}
#scroller li {width:150px;background-color:#fff;padding: 0 10px;}
#scroller li:first-child{padding-left:0px;}
#scroller{position: static;height: 175px;}
.other-sellers-img{float:left;}
.other-seller-info{margin-left:107px;}
.other_seller_container{border-bottom:2px solid #d1d1d1;padding-bottom:16px;margin:16px 15px 0px;}
.other-seller-info .name{font-weight: bold;color:#000000;font-family: Arial,Times,serif;overflow: hidden;height: 20px;}
.variants .pro-button{min-height:34px;}
span.other-price{line-height: 34px;font-size: 17px;font-weight: bold;font-family: Georgia,Times,serif;color:#737373;}
#similar .name,.category .name{overflow:hidden;height:20px;line-height:20px;font-family: "Comic Sans MS",Times New Roman,"DejaVu Sans";}
.similar-price,.category .price{color:#737373;line-height: 20px;}
.similar-img{text-align:center;margin-top:10px;}
/**************************closed product page*********************************/

.bottom_box{text-align:left;margin-left:10px;}
.category .heart{color:#da500f; font-weight: bold;}

