<ion-view view-title="ABOUT US">
    <ion-content>
        <div id="about-content">
            <div class="brand-image">
                <img src="img/logo.png"  alt="FashionIQ"/>
            </div>
            We at fashioniq bring millions of fashion and lifestyle products from all stores and brands you love, 
            all in one place. 
            It helps you discover products liked by your friends and others! 
            Also, we track products you like and notifies you when prices fall. 
            So now you never miss a Price fall again. 
            You can also share your favourite wishlist to public, or send them to your best friend, or keep them completely 
            private- it’s up to you. Fashioniq works with all the major eCommerce web stores,
            to create the largest single destination to find fashion and lifestyle products available online. 
            Pretty amazing, right? 
            Fashioniq is developed by Excellence Technologies, an IT Software company based in India.
        </div>
    </ion-content>
</ion-view>
