<ion-view view-title="ABOUT US">
    <ion-content>
        <div id="about-content">
        Lorem ipsum dolor sit amet. consectetur adipiscing elit, sed to eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Ut enim ad mininm veeniam,
        ques nostrud exercitation ullamco laboris nisi ut aliquib exea coomodo consequat.
        Duis aute irure dolor in repreherdeit infdsf sdf di sdfji 
        jdskf capla qui officia deserunt mollitanim id est laborum.
        </div>
    </ion-content>
</ion-view>
