<ion-view view-title="My Account">
    <ion-content>

        <div>

            <div>
                <h2>{{login_data.name}}</h2>
                <p>{{login_data.create_at}}</p>
            </div>

            <div>
                <img style="max-height: 150px;max-width: 150px" ng-src="{{login_data.picture}}">
            </div>

            <div ng-if="!is_mobile">
                <button class="button" 
                        ng-file-select 
                        ng-model="file.myFiles" 
                        ng-multiple="false" 
                        ng-rejected-file-model="rejFiles"
                        >Upload</button>
            </div>

            <div ng-if='is_mobile'>
                <button class="button" on-tap='browseCamera();'>Upload</button>
            </div>

            <div ng-show='rejFiles'>
                {{rejFiles}}
            </div>
            <div ng-show='file_upload'>
                <div width="100%" style="height: 2px">
                    <div ng-style="progoress_style" class='prog_inner'>

                    </div>
                </div>
                <div>{{progress}}</div>
            </div>

        </div>
        <div class="register">
            <form>
                <div class="list">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Full Name</span>
                        <input type="text" ng-model='profile.name' placeholder="Full Name">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Gender</span>
                        <select ng-model='profile.gender'>
                            <option value="M">Male</option>                            
                            <option value="F">Female</option>                            
                        </select>
                    </label>
                </div>
                <div class="padding">
                    <button on-tap='update();' class="button button-positive">
                        Update
                        <i class="fa fa-spinner fa-spin" ng-show="register_status == 1"></i>
                        <i class="fa fa-times" ng-show="register_status == 3"></i>
                        <i class="fa fa-check" ng-show="register_status == 2"></i>
                    </button>
                </div>
            </form>
        </div>

        <div class="register">
            <form>
                <div class="list">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Password</span>
                        <input type="password" ng-model='profile.password' placeholder="New Passowrd">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Confirm Password</span>
                        <input type="password" ng-model='profile.confPassword' placeholder="Confirm Passowrd">
                    </label>
                </div>
                <div class="padding">
                    <button on-tap='password();' class="button button-positive">
                        Update
                        <i class="fa fa-spinner fa-spin" ng-show="register_status == 1"></i>
                        <i class="fa fa-times" ng-show="register_status == 3"></i>
                        <i class="fa fa-check" ng-show="register_status == 2"></i>
                    </button>
                </div>
            </form>
        </div>


    </ion-content>
</ion-view>