<ion-view>
    <ion-nav-title>{{currentState.title}}</ion-nav-title> 
    <ion-content scroll-watch on-scroll="on-scroll();">

        <ion-refresher
            pulling-text="Refresh..."
            on-refresh="refreshCategory()">
        </ion-refresher>
        <div ng-show="showFilter" id="show-fliter" >
            <!-- <i class="fa fa-times " on-tap='showProductsFn()'></i> -->
            <button class="button button-full button-clear filter-button filter-page" on-tap="showFiltersFn();">
                <i class="icon ion-funnel filter-icon"></i>
                <span class="filter-label">FILTER</span>
            </button>
            <div class="filter-list" ng-repeat="filter_type in filters">
                <div on-tap='open(filter_type);'>{{filter_type.type}}
                    <span class="plus-minus" ng-if="filter_type.data.length > 0">
                        <i ng-show="!filter_type.open">[ + ]</i>
                        <i ng-show="filter_type.open">[&nbsp;&nbsp;-&nbsp;&nbsp;]</i>
                    </span></div>
                <div ng-show="filter_type.open">
                    <ion-list>
                        <ion-item ng-repeat="filter in filter_type.data">
                            <ion-checkbox on-tap="doFilter(filter);" ng-model="sort.checked">{{filter.name}}</ion-checkbox>
                        </ion-item>
                    </ion-list>
                </div>

            </div>
        </div>
        <div ng-show="showSortBy" class="sortby-container">
            <button class="button button-full button-clear filter-button filter-page">
                <i class="fa fa-sort-alpha-desc fa-lg filter-icon" on-tap='showProductsFn()'></i>
                <span class="filter-label"> SORT BY</span>
            </button>
            <ion-list>
                <ion-item ng-repeat="sort in sortBy">
                    <ion-checkbox on-tap="doSort(sort);" ng-model="sort.checked">{{sort.name}}</ion-checkbox>
                </ion-item>
            </ion-list>
        </div>

        <div ng-show="showProducts" class="category" ng-show="!product_loading">

            <div ng-show='currentState.filters.length > 0'>
                Filters: 
                <span ng-repeat="filter in currentState.filters">
                    {{filter.name}} <i class="fa fa-times" on-tap='removeFilter(filter)'></i>
                </span>
            </div>

            <div class="product" ng-repeat="prod in products track by $index">
                <div class="clearfix"></div>
                <div class="image" on-tap="openProduct(prod);">
                    <img ng-src="{{prod.img}}" />
                    <div class="heart my-wishlist-img" on-tap="wishlist(prod,$event);">
                        <img src="img/Wishlist.png" alt="wishlist"/>
                    </div>
                </div>


                <!-- <div class="brand">{{prod.brand}}</div> -->
                <div class="bottom_box">
                    <div class="name" on-tap="openProduct(prod);">{{prod.name}}</div>
                    <div class="website e-site">{{prod.website}}</div>
                    <div class="price">
                        Rs.{{prod.price}}
                        <!--    <span class="discount" ng-if="prod.offrate > 0">{{prod.offrate}}%</span>-->
                    </div>
                    <div class="drop-price">
                        <i class="fa fa-caret-down"></i>
                        Rs.125
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div ng-show="currentState.page > 0 && !product_loading && products.length > 0 && showProducts" on-tap="nextPage(true);">Load Next Page</div>
        <ion-infinite-scroll
            ng-if="currentState.page && showProducts && products.length > 0 && startPaging"
            on-infinite="nextPage()"
            icon="ion-loading-c"
            >
        </ion-infinite-scroll>
    </ion-content>
    <ion-footer-bar class="bar-light" ng-show="products.length > 0 && !hideFilterBox">
        <div class="row">
            <div class="col" ng-if="sortBy.length > 0">
                <button class="button button-full button-clear filter-button" on-tap="showSortByFn();">
                    <i class="fa fa-sort-alpha-desc  filter-icon"></i>
                    Sort By
                </button>
            </div>
            <div class="col" ng-if="filters.length > 0">
                <button class="button button-full button-clear filter-button" on-tap="showFiltersFn();">
                    <i class="icon ion-funnel filter-icon"></i>
                    Filter
                </button>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
