<ion-view>
    <ion-nav-title>{{currentState.name}}</ion-nav-title>
    <ion-content scroll-watch on-scroll="on-scroll();">

        <ion-refresher
            pulling-text="Refresh..."
            on-refresh="refershCategory()">
        </ion-refresher>
        <i class="fa fa-spinner fa-spin" ng-show='product_loading'></i>

        <div ng-show="showFilter" >

            <i class="fa fa-times" on-tap='showProductsFn()'></i>

            <div ng-repeat="filter_type in filters">
                <div on-tap='open(filter_type);'>{{filter_type.type}}</div>
                <div ng-show="filter_type.open">
                    <ion-list>
                        <ion-item ng-repeat="filter in filter_type.data">
                            <ion-checkbox on-tap="doFilter(filter);" ng-model="sort.checked">{{filter.name}}</ion-checkbox>
                        </ion-item>
                    </ion-list>
                </div>

            </div>
        </div>
        <div ng-show="showSortBy">
            <i class="fa fa-times" on-tap='showProductsFn()'></i>
            <ion-list>
                <ion-item ng-repeat="sort in sortBy">
                    <ion-checkbox on-tap="doSort(sort);" ng-model="sort.checked">{{sort.name}}</ion-checkbox>
                </ion-item>
            </ion-list>
        </div>

        <div ng-show="showProducts" class="category" ng-show="!product_loading">

            <div ng-show='currentState.filters.length > 0'>
                Filters: 
                <span ng-repeat="filter in currentState.filters">
                    {{filter.name}} <i class="fa fa-times" on-tap='removeFilter(filter)'></i>
                </span>
            </div>

            <div class="product" ng-repeat="prod in products track by $index">
                <div class="image" on-tap="openProduct(prod);">
                    <img ng-src="{{prod.img}}" />
                </div>
                <div class="name" on-tap="openProduct(prod);">{{prod.name}}</div>
                <div class="website">{{prod.website}}</div>
                <div class="brand">{{prod.brand}}</div>
                <div class="bottom_box">
                    <div class="price">
                        <div class="price">
                            {{prod.price}}
                            <span class="discount" ng-if="prod.offrate > 0">{{prod.offrate}}%</span>
                        </div>
                    </div>
                    <div class="heart" on-tap="wishlist(prod);">
                        <i ng-show="!prod.wishlist" class="fa fa-heart-o"></i>
                        <i ng-show="prod.wishlist == 1" class="fa fa-heart"></i>
                        <i ng-show="prod.wishlist == 2" class="fa fa-spinner fa-spin"></i>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <ion-infinite-scroll
            on-infinite="nextPage()"
            icon="ion-loading-c"
            distance="1%"
            >
        </ion-infinite-scroll>
    </ion-content>
    <ion-footer-bar class="bar-light" ng-show="products.length > 0 && !hideFilterBox">
        <div class="row">
            <div class="col" ng-if="sortBy.length > 0">
                <button class="button button-full button-clear" on-tap="showSortByFn();">
                    <i class="icon ion-levels"></i>
                    Sort By
                </button>
            </div>
            <div class="col" ng-if="filters.length > 0">
                <button class="button button-full button-clear" on-tap="showFiltersFn();">
                    <i class="icon ion-funnel"></i>
                    Filter
                </button>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>