<ion-view view-title="Feedback">
    <ion-content>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">EMail</span>
                <input type="text" ng-model='feedback.email' placeholder="Email Address">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Message</span>
                <textarea ng-model="feedback.text" style="width:100%;height: 50px" placeholder="Your Feedback"></textarea>
            </label>
            <div>
                <button class="button" on-tap="sendFeedback();">Submit
                    <i class="fa fa-spinner fa-spin" ng-show="feedback_status == 1"></i>
                    <i class="fa fa-times" ng-show="feedback_status == 3"></i>
                    <i class="fa fa-check" ng-show="feedback_status == 2"></i>
                </button>
            </div>
        </div>
        <button ng-if="isMobile" on-tap="rateUs();" class="button">Rate Us</button>
    </ion-content>
</ion-view>