<ion-view view-title="FEEDBACK">
    <ion-content>
        <div class="list feedback-container">
			<div class="feed-info">
				<h4 class="rate-app">RATE OUR APP</h4>
				<p class="rate-descrip">If you love our app, please take a moment to rate it in the App store</p>
				<button class="button signup-button feed-rate-btn" on-tap=""><img src="img/google_play.png"/>&nbsp;&nbsp;RATE NOW
                </button>
			</div>
            <label class="item item-input item-floating-label first-feed-label">
                <span class="input-label black-font">Email</span>
                <input type="text" ng-model='feedback.email' placeholder="Email">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label black-font">Leave a feedback</span>
                <textarea ng-model="feedback.text" style="width:100%;height: 25px" placeholder="Leave a feedback"></textarea>
            </label>
            <div class="feed-submit">
                <button class="button signup-button red-back" on-tap="sendFeedback();">SUBMIT
                    <i class="fa fa-spinner fa-spin" ng-show="feedback_status == 1"></i>
                    <i class="fa fa-times" ng-show="feedback_status == 3"></i>
                    <i class="fa fa-check" ng-show="feedback_status == 2"></i>
                </button>
            </div>
        </div>
        <button ng-if="isMobile" on-tap="rateUs();" class="button signup-button">Rate Us</button>
    
    </ion-content>
</ion-view>
