<ion-view>
    <ion-content>
        <a href="#/music">Go to music page!</a>
        
         <i class="fa fa-spinner fa-spin" ng-show='loading'></i>
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
        </ion-refresher>
            <div style="max-width: 50px;max-height: 50px">
                <img ng-src='{{item.user_id.picture| picture:50}}' />
            </div>

            <div class="username">{{item.user_id.name}}</div>

            <div ng-if="me_follow_user">
                <div ng-if="item.user_id.followers.length > 1">
                    <span on-tap='unFollowUser(item.user_id._id);'>You</span> and 
                    <span on-tap='followUserList();'>{{item.user_id.followers.length - 1}}Followers</span>
                </div>
                <div on-tap='unFollowUser(item.user_id._id);' ng-if="item.user_id.followers.length == 1">You Follow</div>
            </div>
            <div ng-if="!me_follow_user" on-tap='followUser(item.user_id._id);'>
                <div ng-show="item.user_id.followers.length > 0">{{item.user_id.followers.length}} Followers</div>
                <div ng-show="!item.user_id.followers || item.user_id.followers.length == 0">Be First To Follow User</div>
            </div>

            <div class="listname">{{item.list_id.name}}</div>


            <div ng-if="me_follow_list">
                <div ng-if="item.list_id.followers.length > 1">
                    <span on-tap='unFollowList();'>You</span> and 
                    <span on-tap='followListList();'></span>{{item.list_id.followers.length - 1}}Followers</span>
                </div>
                <div on-tap='unFollowList();' ng-if="item.list_id.followers.length == 1">You Follow</div>
            </div>
            <div ng-if="!me_follow_list">
                <div on-tap='followList();' ng-show="item.list_id.followers.length > 0">{{item.list_id.followers.length}} Followers</div>
                <div on-tap='followList();' ng-show="!item.list_id.followers || item.list_id.followers.length == 0">Be First To Follow List</div>
            </div>

            <div style="max-height: 600px;overflow: hidden">
                <img ng-src='{{item.img| picture:picture_width}}' />
            </div>
            <div ng-show="item.description.length > 0">{{item.description}}</div>

            <div ng-if="me_like">
                <span ng-if="item.likes.length > 1" on-tap="unlike();">You</span> and 
                <span on-tap='likeList();'>{{item.likes.length - 1}} Likes</span>
                <span ng-if="item.likes.length == 1" on-tap="unlike();">You Like</span>
            </div>
            <div ng-if="!me_like" on-tap='like();'>
                <div ng-show="item.likes.length > 0">{{item.likes.length}} Likes</div>
                <div ng-show="item.likes.length == 0">Be First To Like</div>
            </div>

            <div ng-if='me_pin'>
                <div ng-if='item.item_id.pins.length > 1'>
                    <div on-tap='pin();' ng-show="item.item_id.pins.length > 0">You and {{item.item_id.pins.length - 1}} Pins</div>                        
                </div>
                <div ng-if='item.item_id.pins.length == 1'>
                    <div on-tap='pin();' ng-show="item.item_id.pins.length > 0">You Pins</div>                        
                </div>
            </div>
            <div ng-if='!me_pin'>
                <div on-tap='pin();' ng-show="item.item_id.pins.length == 0 || !item.item_id.pins">Be First To Pin</div>
            </div>

            <div class="pro-info">
                <div class="pro-name">
                    <div ng-show="item.name.length > 0">{{item.name}}</div>
                    <br/>
                    <span class="arrow" ng-show='item.brand.length > 0'>{{item.brand}}</span>
                    <span class="e-site" ng-show='item.website.length > 0'>
                        {{item.website}}
                    </span>
                </div>
                <div class="pro-price" ng-show="item.price.length > 0">
                    Rs.{{item.price}}
                </div>
                <div class="social-share">
                    <div ng-if="!isMobile && item.href.length > 0">
                        <div class="fb-share-button" data-href="{{item.href}}" data-layout="button_count"></div>
                        <div class="twitter">
                            <a class="twitter-share-button"
                               href="https://twitter.com/share" data-url="{{item.href}}" data-text="{{item.name}}"  data-size="small">
                                Tweet
                            </a>
                        </div>
                    </div>
                    <div ng-if="isMobile && item.href.length > 0">
                        <i class="fa-lg red-color fa-2x" on-tap='whatsapp(item)'>W</i>
                        <i class="fa fa-twitter fa-lg red-color fa-2x" on-tap='twitter(item)'></i>
                        <i class="fa fa-facebook fa-lg red-color fa-2x"  on-tap='facebook(item)'></i>
                        <i class="fa fa-share-alt fa-lg red-color fa-2x" on-tap='shareAll(item)'></i>
                    </div>
                </div>
                <button class="button pro-button signup-button red-back" ng-show="item.product_id.length > 0" on-tap="view(item);">BUY NOW</button>
                <div class="clearfix"></div>
            </div>

            <div  data-tap-disabled="true" id="map-canvas-parent" style="height: 200px" ng-if="item.location.lat">
                <div id="map-canvas" style="width: 100%; height: 100%">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>

            <div>
                Commment
            </div>
            <div style="border: 1px solid #ccc">
                <textarea style="width: 100%;height: 70px" ng-model="item.comment"></textarea>
            </div>

            <button class="button" on-tap='addComment();'>Send</button>

            <div ng-repeat="comment in item.comments">
                <div>
                    <img ng-src='{{comment.picture|picture:50}}' style="max-width: 50px;max-height: 50px;" />
                    <div>{{comment.comment}}</div>
                    <div>{{comment.created_at| prettyDate}}</div>
                </div>
            </div>
            <div ng-if='item.comments && !showMoreComment'>
                <button class="button" on-tap='loadAllComments()'>Load All Comments</button>
            </div>

            <!--            <div ng-if="!is_mobile">
                            <div class ="profile-pic" ng-if="item.picture">
                                <img ng-src="{{item.picture|picture:picture_width}}">
                                <i ng-show="!file_upload" class="ion-edit profile-pic-edit" ng-file-select 
                                   ng-model="file.myFiles" 
                                   ng-multiple="false" 
                                   ng-rejected-file-model="rejFiles"></i>
                                <i ng-show="file_upload" class="fa fa-spin fa-spinner"></i>
                            </div>            
                            <div class="profile-pic" ng-if="!item.picture" ng-file-select 
                                 ng-model="file.myFiles" 
                                 ng-multiple="false" 
                                 ng-rejected-file-model="rejFiles">
                                <div class="profile-pic-not" align="center">
                                    <i ng-show="!file_upload" class="fa fa-camera fa-2x"></i>
                                    <i ng-show="file_upload" class="fa fa-spin fa-spinner"></i>
                                </div>
                                Add a Picture
                            </div>
                        </div>
            
                        <div ng-if='is_mobile'>
                            <div class ="profile-pic" ng-if="item.picture">
                                <img ng-src="{{item.picture|picture:picture_width}}">
                                <i ng-show="!file_upload" class="ion-edit profile-pic-edit" on-tap='browseCamera();'></i>
                                <i ng-show="file_upload" class="fa fa-spin fa-spinner"></i>
                            </div>            
                            <div class="profile-pic" ng-if="!item.picture"  on-tap='browseCamera();'>
                                <div class="profile-pic-not" align="center">
                                    <i ng-show="!file_upload" class="fa fa-camera fa-2x"></i>
                                    <i ng-show="file_upload" class="fa fa-spin fa-spinner"></i>
                                </div>
                                Add a Picture
                            </div>
                        </div>-->

    </ion-content>
</ion-view>