<ion-view view-title="Invite">
    <ion-content>
        <div class="padding">
            <button class="button fb-button" on-tap='facebook();'>	
                <i class="fa fa-facebook fa-lg fb-social-icon"></i>
                Invite Friend From <span class="social-site-name">Facebook</span>
            </button>
        </div>
        <div class="padding">
            <button class="button google-button" on-tap='google();'>
                <i class="fa fa-google-plus fa-lg g-social-icon"></i>
                Invite Friend From <span class="social-site-name">Whatsapp</span>
            </button>
        </div>
    </ion-content>
</ion-view>