<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content drag-content="true" edge-drag-threshold='true'>
        <ion-nav-bar class="bar-stable" ng-show="!showSearchBox">
            <ion-nav-back-button class='button-clear'>
                <i class="icon ion-arrow-left-c"></i>
            </ion-nav-back-button>
            <ion-nav-title>
                <!--                <div class="logo-container">
                                    <img src="img/logo-white.png"  alt="FashionIQ"/>
                                </div>-->
                FashionIQ
            </ion-nav-title>
            <ion-nav-buttons side="left">
                <button class="button button-icon toggle-btn" menu-toggle="left"  ng-show='!$isBackButtonShown'>
                    <i class="ion-navicon"></i>
                </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button on-tap='searchNow();' class="button button-icon btn-search">
                    <i class="ion-search white-color fa-lg"></i>
                </button>
                <button on-tap='wishlist();' class="button button-icon">
                    <i class="ion-person fa-lg white-color"></i>
                    <div class="profile_updates" ng-if='profile_update > 0'>{{profile_update}}</div>
                </button>
                <button on-tap='addWishlistItem();' class="button button-icon">
                    <i class="ion-plus-round fa-lg white-color"></i>
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <!--        <div on-tap='addWishlistItem();' class="red-back floating_add">
                    <i class="ion-plus-round fa-lg white-color"></i>
                </div>-->
        <div style="width:100%" class="search_box" ng-show="showSearchBox">
            <div class="list">

                <div class="item item-input-inset">
                    <button on-tap='closeSearch();' class="button button-small button-icon ion-close">
                    </button>
                    <label class="item-input-wrapper">
                        <input ng-model="search.text" type="text" placeholder="Search">
                    </label>
                    <button on-tap='doSearch($event);' class="button button-small button-icon ion-ios-arrow-forward">
                    </button>
                </div>

            </div>
        </div>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-content>
            <div id="menu-bar-container">


                <!--Left menu loged in view profile-->
                <!--
                <div class="box" ng-if="login">
                    <div class="user_image rounded">
                        <img src="img/empty.png"/>
                    </div>
                    <div class="user-info">
                        <span class="info info-name">{{user_details.name}}</span>
                        <span nav-clear menu-close class="info info-veiw" on-tap='account();'>View Profile</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                -->
                <!--Left menu loged in view profile closed-->
                <i class="fa fa-spinner fa-spin" ng-show='category.length == 0'></i>
                <ul ng-show='category.length >= 0'>
                    <li><span ng-click="home()" nav-clear menu-close>HOME</span><div class="clearfix"></div></li>
                    <li bindonce ng-repeat="cat in category">
                        <span ng-click="selectCategory(cat)" bo-bind='cat.name|uppercase'></span><div class="clearfix"></div>
                        <ul ng-show="cat.open" style="padding-left: 20px" bo-if='cat.data.length > 0'>
                            <li class="sub-cat-label" bindonce ng-repeat="catSub in cat.data" >
                                <span nav-clear menu-close ng-click='selectCategory(catSub)' bo-bind='catSub.name|uppercase'>
                                    <div class="plus-minus" bo-if="catSub.data.length > 0">
                                        <i ng-show="!catSub.open">+</i>
                                        <i ng-show="catSub.open">-</i>
                                    </div>

                                </span>
                                <div class="clearfix"></div>
                                <ul class="" ng-show="catSub.open" style="padding-left: 20px" bo-if='catSub.data.length > 0'>
                                    <li class="" nav-clear menu-close bindonce ng-repeat="catLast in catSub.data" >
                                        <span nav-clear menu-close  ng-click='selectCategory(catLast)' bo-bind='catLast.name'></span>        
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </li>
                </ul>
                <ul class="default-list">
                    <li class="list-not-cat"><a class="internal-details" ng-if="!login" nav-clear menu-close href='#/app/signup'><i class="ion-person-add fa-2x red-color log-sign"></i>Join /Sign Up</a></li>
                    <li class="list-not-cat" ng-if="login" nav-clear menu-close on-tap='invite();'><a class="internal-details"><i class="fa fa-users fa-2x red-color inv-frnd"></i>Invite Friends</a></li>
                    <li class="list-not-cat" nav-clear menu-close on-tap='feedback();'><a class="internal-details"><i class="ion-chatbubble-working fa-2x red-color"></i>Feedback</a></li>
                    <li class="list-not-cat" nav-clear menu-close on-tap='aboutus();'>
                        <a class="internal-details"><img src="img/favicon.png" class="red-color" alt="" />About Us</a>
                    </li>
                    <li class="list-not-cat"><a class="internal-details" ng-if="login" nav-clear menu-close on-tap='logout();'><i class="ion-log-out fa-2x red-color log-sign"></i>Logout</a></li>
                    <div class="clearfix"></div>
                </ul>
            </div>
        </ion-content>
    </ion-side-menu>
