<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable"  ng-show="!showSearchBox">
            <ion-nav-back-button>
                <i class="icon fa fa-chevron-left "></i>
            </ion-nav-back-button>
            <ion-nav-title>
                <i class="fa fa-at"></i>
            </ion-nav-title>
            <ion-nav-buttons side="left">
                <button class="button button-icon fa fa-bars" menu-toggle="left">
                </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button on-tap='searchNow();' class="button button-icon fa fa-search">
                </button>
                <button on-tap='wishlist();' class="button button-icon fa fa-circle-o">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <div style="width:100%" ng-show="showSearchBox">
            <div class="list">

                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <input ng-model="search.text" type="text" placeholder="Search">
                    </label>
                    <button on-tap='doSearch($event);' class="button button-small button-icon fa fa-chevron-right">
                    </button>
                </div>

            </div>
        </div>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" expose-aside-when="large">
        <ion-content>
            <i class="fa fa-spinner fa-spin" ng-show='category.length == 0'></i>
            <ul ng-show='category.length >= 0'>
                <li ng-repeat="cat in category">
                    <span ng-click="selectCategory(cat)">{{cat.name}}</span>
                    <ul ng-show="cat.open" style="padding-left: 20px" ng-if='cat.data.length > 0'>
                        <li class="sub-cat-label" ng-repeat="catSub in cat.data" >
                            <span ng-click='selectCategory(catSub)'>{{catSub.name}}</span>
                            <span class="plus-minus" ng-if="catSub.data.length > 0">
                                <i ng-show="!catSub.open">+</i>
                                <i ng-show="catSub.open">-</i>
                            </span>
                            <ul class="" ng-show="catSub.open" style="padding-left: 20px" ng-if='catSub.data.length > 0'>
                                <li class="" nav-clear menu-close ng-repeat="catLast in catSub.data" >
                                    <span  ng-click='selectCategory(catLast)'>{{catLast.name}}</span>        
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="list-not-cat"><i class="fa fa-user"></i>&nbsp;&nbsp;<a class="internal-details" ng-if="!login" nav-clear menu-close href='#/app/signup'> SignUp</a></li>
                <li class="list-not-cat"><a class="internal-details" ng-if="login" nav-clear menu-close on-tap='logout();'>Logout</a></li>
                <li class="list-not-cat" ng-if="login" nav-clear menu-close on-tap='account();'><a class="internal-details">My Account</a></li>
                <li class="list-not-cat" nav-clear menu-close on-tap='feedback();'><a class="internal-details">Feedback</a></li>
                <li class="list-not-cat" nav-clear menu-close on-tap='about();'>
                    <i class="fa fa-map-marker"></i>&nbsp;&nbsp;&nbsp;<a class="internal-details">About Us</a>
                </li>
            </ul>
        </ion-content>
    </ion-side-menu>
