<ion-view>
    <ion-content>
        <ion-refresher
            pulling-text="Update Product Info"
            on-refresh="productInfo()">
        </ion-refresher>
        <ion-list>
            <i class="fa fa-spinner fa-spin" ng-show='product_loading'></i>
            <div class="product" ng-show='!product_loading'>
                <div class="pro-img">
                    <img ng-src='{{product.img}}'/>
                    <div class="heart wishlist-product-img" on-tap="wishlist(product,$event);">
                        <img ng-show="!product.wishlist_status" src="img/heart.png" alt="wishlist" width="28px"/>
                        <i class="fa fa-spinner fa-spin" ng-show="product.wishlist_status == 1"></i>
                        <i class="fa fa-times" ng-show="product.wishlist_status == 3"></i>
                        <i class="fa fa-check" ng-show="product.wishlist_status == 2"></i>
                    </div>
                </div>

                <div class="pro-info">
                    <div class="pro-name">
                        {{product.name}}
                        <br/>
                        <span class="arrow">ARROW</span>
                        <span class="e-site">
                            FLIPKART
                        </span>
                    </div>
                    <div class="pro-price">
                        Rs.{{product.price}}
                    </div>
                    <div class="price-up-down">
                        <i class="fa fa-caret-up">&nbsp;Price Rise of Rs.125</i>
                        <br>
                        <i class="fa fa-caret-down">&nbsp;Price Drop of Rs.125</i>

                    </div>
                    <div class="social-share">
                        <i class="ion-social-instagram fa-lg red-color"></i>
                        <i class="fa fa-twitter fa-lg red-color"></i>
                        <i class="fa fa-facebook fa-lg red-color"></i>
                        <i class="fa fa-share-alt fa-lg red-color"></i>
                    </div>
                    <button class="button pro-button signup-button red-back" on-tap="buy(product);">BUY NOW</button>
                    <div class="clearfix"></div>
                </div>

                <div class="clearfix"></div>
                <div id="similar">
                    <div class="similar-product-label">
                        SIMILAR PRODUCT
                    </div>
                    <ul id="scroller" class="variants">
                        <li on-tap="openProduct(variant);" ng-repeat="variant in product.variants" style="float: left">
                            <div class="similar-img">
                                <img ng-src='{{variant.img}}' width="92px" height="100px"/>
                            </div>
                            <div class="name">
                                {{variant.name}}
                            </div>
                            <div class="similar-price">
                                Rs. {{variant.price}}
                            </div>
                            <div class="similar-price-drop">
                                <i class="fa fa-caret-down">&nbsp;Rs.25</i>
                            </div>
                        </li>
                        <div class="clearfix"></div>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="variants">
                    <div class="similar-product-label">
                        OTHER SELLERS
                    </div>
                    <div on-tap="buy(variant);" ng-repeat="variant in product.variants" style="float: none;">
                        <div class="other_seller_container">
                            <div class="other-sellers-img">
                                <img ng-src='{{variant.img}}' width="95px" height="85px"/>
                            </div>
                            <div class="other-seller-info">
                                <div class="name" on-tap="buyVariant(variant);">
                                    {{variant.name}}
                                </div>
                                <div>
                                    <span class="e-site"> {{variant.website}} </span>
                                </div>
                                <div>
                                    <span class="other-price">Rs.{{variant.price}}</span>
                                    <button class="button pro-button red-back" on-tap="buy(product);">BUY</button>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
