<ion-view>
    <ion-content>
        <ion-refresher
            pulling-text="Update Product Info"
            on-refresh="productInfo()">
        </ion-refresher>
        <ion-list>
            <i class="fa fa-spinner fa-spin" ng-show='product_loading'></i>
            <div class="product pro-img" ng-show='!product_loading'>
                <img ng-src='{{product.img}}'/>
                <br/>
                <div class="pro-info">
                    <div class="pro-name">
                        {{product.name}}
                        <br/>
                        <span class="arrow">ARROW</span>
                        <span class="e-site">
                            flipkart
                        </span>
                    </div>
                    <div class="pro-price">
                        Price : {{product.price}}
                    </div>
                    <div class="heart img-heart" on-tap="wishlist();">
                        <i ng-show="!product.wishlist" class="fa fa-heart-o fa-lg"></i>
                        <i ng-show="product.wishlist == 1" class="fa fa-heart fa-lg"></i>
                        <i ng-show="product.wishlist == 2" class="fa fa-spinner fa-spin fa-lg"></i>
                    </div>
                    <button class="button pro-button" on-tap="buy(product);">Buy Now</button>
                </div>

                <div class="clearfix"></div>
                <div class="variants">
                    <div on-tap="buy(variant);" ng-repeat="variant in product.variants" style="float: left">
                        <div>
                            <img ng-src='{{variant.img}}'/>
                        </div>
                        <div class="name" on-tap="buyVariant(variant);">
                            {{variant.name}}
                        </div>
                        <div>
                            Price: {{variant.price}}
                        </div>
                        <div>
                            {{variant.website}}
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div id="similar">
                    <ul id="scroller" class="variants">
                        <li on-tap="openProduct(variant);" ng-repeat="variant in product.variants" style="float: left">
                            <div>
                                <img ng-src='{{variant.img}}'/>
                            </div>
                            <div class="name">
                                {{variant.name}}
                            </div>
                            <div>
                                Price: {{variant.price}}
                            </div>
                            <div>
                                {{variant.brand}}
                            </div>
                            <div>
                                {{variant.website}}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
    </ion-content>
</ion-view>
