<ion-view>
    <ion-content>
        <ion-refresher
            pulling-text="Update Product Info"
            on-refresh="productInfo(true)">
        </ion-refresher>
        <ion-list>
            <!--<i class="fa fa-spinner fa-spin" ng-show='product_loading'></i>-->
            <div class="product">
                <div class="pro-img">
                    <img ng-src='{{product.img}}'/>
                    <div class="heart wishlist-product-img" on-tap="wishlist(product,$event);">
                        <img ng-show="!product.wishlist_status" src="img/heart.png" alt="wishlist" width="28px"/>
                        <i class="fa fa-spinner fa-spin" ng-show="product.wishlist_status == 1"></i>
                        <i class="fa fa-times" ng-show="product.wishlist_status == 3"></i>
                        <i class="fa fa-check" ng-show="product.wishlist_status == 2"></i>
                    </div>
                </div>
                <div class="pro-info">
                    <div class="pro-name">
                        {{product.name}}
                        <div>
                            <span class="arrow" ng-show='product.cat_id' on-tap='viewBrand(product);'>{{product.brand}}</span>
                            <span class="category" ng-show='product.cat_id' on-tap='viewCategory(product);'>{{product.parent_cat_name}} > {{product.cat_name}}</span>
                            <span class="e-site">
                                {{product.website}}
                            </span>
                        </div>
                    </div>
                    <div class="pro-price">
                        Rs.{{product.price}}
                    </div>
                    <div class="price-up-down" ng-if="product.price_drop != 0">
                        <i class="fa fa-caret-up" ng-if="product.price_drop > 0">&nbsp;Price Rise of Rs.{{product.price_drop}}</i>
                        <i class="fa fa-caret-down" ng-if="product.price_drop < 0">&nbsp;Price Drop of Rs.{{product.price_drop}}</i>
                    </div>
                    <div class="social-share">
                        <div ng-if="!isMobile && isMobile">
                            <div class="fb-share-button" data-href="{{product.href}}" data-layout="button_count"></div>
                            <div class="twitter">
                                <a class="twitter-share-button"
                                   href="https://twitter.com/share" data-url="{{product.href}}" data-text="{{product.name}}"  data-size="small">
                                    Tweet
                                </a>
                            </div>
                        </div>
                        <div ng-if="isMobile && isMobile">
                            <i class="fa-lg red-color fa-2x" on-tap='whatsapp(product)'><img src='img/whatsapp.png' alt='whats_app'/></i>
                            <i class="fa fa-twitter fa-lg red-color fa-2x" on-tap='twitter(product)'></i>
                            <i class="fa fa-facebook fa-lg red-color fa-2x"  on-tap='facebook(product)'></i>
                            <i class="fa fa-share-alt fa-lg red-color fa-2x" on-tap='shareAll(product)'></i>
                        </div>
                    </div>
                    <button class="button pro-button signup-button red-back" on-tap="buy(product);">BUY NOW</button>
                    <div class="clearfix"></div>
                </div>

                <div class="clearfix"></div>
                <div ng-show='product.similar.length > 0'>
                    <div class="similar-product-label">
                        SIMILAR PRODUCT
                    </div>
                    <div  id="similar">
                        <ul id="scroller" class="variants">
                            <li on-tap="openProduct(variant);" ng-repeat="variant in product.similar" style="float: left">
                                <div class="similar-img">
                                    <img ng-src='{{variant.image}}'/>
                                </div>
                                <div class="name">
                                    {{variant.name}}
                                </div>
                                <div class="similar-price">
                                    Rs. {{variant.price}}
                                </div>
                                <div class="similar-price-drop">
                                    <i class="fa fa-caret-down">&nbsp;Rs.25</i>
                                </div>
                            </li>
                            <div class="clearfix"></div>
                        </ul>
                    </div>  
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="variants" ng-show='product.variants.length > 0'>
                    <div class="similar-product-label">
                        OTHER SELLERS
                    </div>
                    <div on-tap="buy(variant);" ng-repeat="variant in product.variants" style="float: none;">
                        <div class="other_seller_container">
                            <div class="other-sellers-img">
                                <img ng-src='{{variant.img}}'/>
                            </div>
                            <div class="other-seller-info">
                                <div class="name" on-tap="buyVariant(variant);">
                                    {{variant.name}}
                                </div>
                                <div>
                                    <span class="e-site"> {{variant.website}} </span>
                                </div>
                                <div>
                                    <span class="other-price">Rs.{{variant.price}}</span>
                                    <button class="button pro-button red-back" on-tap="buy(product);">BUY</button>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
