<ion-view>
    <ion-content overflow-scroll='true'>
        <div class="top-container" ng-show="user">
            <div class="box mine-username">
                <div class="user_image">
                    <img ng-src='{{user.picture| picture : 100: 100}}'/>
                </div>
                <div class="user-info">
                    <span class="black-font info">{{user.name}}</span>
                    <span ng-if="!me"><button ng-if='!following' on-tap='followProfileUser();' class="red-back">Follow</button></span>
                    <div class="clearfix"></div>      
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="follow-details">
                <span>{{user.meta.followers}} <span class="grey-color">Followers</span></span>   
                <span>{{user.meta.friends}} <span class="grey-color">Friends</span></span>
                <span>{{user.meta.products}} <span class="grey-color">Pins</span></span>
            </div>
            <!-- Remove This Later-->
            <style>
                .wishlist .wishlist{
                    border-bottom: 1px solid red !important;
                }
                .followers .followers{
                    border-bottom: 1px solid red !important;
                }
                .following .following{
                    border-bottom: 1px solid red !important;
                }
                .pins .pins{
                    border-bottom: 1px solid red !important;
                }
                .profile .profile{
                    border-bottom: 1px solid red !important;
                }
                .update .update{
                    border-bottom: 1px solid red !important;
                }
            </style>
            <div id='menu_sliding' style="width: 100%">
                <ul id='menu_scroller' class="mine-list" ng-class="selected_class">
                    <li class="wishlist" on-tap='menu_wishlist();'>MY WISHLIST</li>
                    <li class="followers" on-tap='menu_followers();'>FOLLOWERS</li>
                    <li class="following" on-tap='menu_following();'>FOLLOWINGS</li>
                    <li class="pin" on-tap='menu_pins();'>MY PINS</li>
                    <li ng-if="me" class="profile" on-tap='menu_profile();'>PROFILE</li>
                    <li ng-if="me" class="update" on-tap='menu_update();'>UPDATES</li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="mine-content" ui-view="tab-content"></div>
        </div>
        <ion-infinite-scroll
            ng-if='pin_status.showMore'
            on-infinite="loadMoreData()"
            distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
