<ion-view view-title="SignUp">
    <ion-content>
        <div>
			<div class="brand-image">
			<img src="img/fashionig_brand.png" width="160px;" alt="Fashionig"/>
			</div>
            <div class="padding">
                <button class="button google-button" on-tap='google();'>
					<i class="fa fa-google-plus fa-lg g-social-icon"></i>
                    Sign up with <span class="social-site-name">Google+</span>
                    <i class="fa fa-spinner fa-spin" ng-show="google_status == 1"></i>
                    <i class="fa fa-times" ng-show="google_status == 3"></i>
                    <i class="fa fa-check" ng-show="google_status == 2"></i>
                </button>
            </div>
            <div class="padding">
                <button class="button fb-button" on-tap='facebook();'>	
					<i class="fa fa-facebook fa-lg fb-social-icon"></i>
                  Sign up with <span class="social-site-name">Facebook</span>
                    <i class="fa fa-spinner fa-spin" ng-show="facebook_status == 1"></i>
                    <i class="fa fa-times" ng-show="facebook_status == 3"></i>
                    <i class="fa fa-check" ng-show="facebook_status == 2"></i>
                </button>
            </div>
            <div class="alter">
            Alternatively,
            </div>
        </div>
        <div class="register"  ng-if="show_register">
            <form>
                <div class="list">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Full Name</span>
                        <input type="text" ng-model='register_obj.name' placeholder="Full Name">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Email</span>
                        <input type="email" ng-model='register_obj.email' placeholder="Email">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Password</span>
                        <input type="password" ng-model='register_obj.password' placeholder="Passowrd">
                    </label>
                </div>
                <div class="padding">
                    <button class="button signup-button" on-tap='create();' class="button button-positive">
                        SIGN UP
                        <i class="fa fa-spinner fa-spin" ng-show="register_status == 1"></i>
                        <i class="fa fa-times" ng-show="register_status == 3"></i>
                        <i class="fa fa-check" ng-show="register_status == 2"></i>
                    </button>
                </div>
                <div align="center"><span class="check-account">Already have an account? </span><span class="login-click" on-tap='showLogin();'>Login</span>
				</div>
            </form>
        </div>
        <div class="login" ng-if="show_login">
            <form>
                <div class="list">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Email</span>
                        <input type="email" ng-model="login_obj.email" placeholder="Email">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Password</span>
                        <input type="password" ng-model="login_obj.password" placeholder="Passowrd">
                    </label>
                    <div class="padding">
                        <button class="button button-positive" on-tap='login();'>
                            Login
                            <i class="fa fa-spinner fa-spin" ng-show="login_status == 1"></i>
                            <i class="fa fa-times" ng-show="login_status == 3"></i>
                            <i class="fa fa-check" ng-show="login_status == 2"></i>
                        </button>
                    </div>

                    <span on-tap='showRegister();'>Register</span>
                    <span on-tap='showForgot();'>Forgot Password</span>
                </div>
            </form>
        </div>

        <div class="forgot" ng-if="show_forgot">
            <form>
                <div class="list">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Email</span>
                        <input type="email" ng-model='forgot_obj.email' placeholder="Email">
                    </label>
                    <div class="padding">
                        <button class="button button-positive" on-tap='forgot();'>
                            Send
                            <i class="fa fa-spinner fa-spin" ng-show="forgot_status == 1"></i>
                            <i class="fa fa-times" ng-show="forgot_status == 3"></i>
                            <i class="fa fa-check" ng-show="forgot_status == 2"></i>
                        </button>
                    </div>

                    <span on-tap='showRegister();'>Register</span>
                    <span on-tap='showLogin();'>Login</span>
                </div>
            </form>
        </div>

    </ion-content>
</ion-view>
