<ion-view>
    <ion-nav-title>My Wishlist</ion-nav-title>
    <ion-pane>
        <ion-tabs class="tabs-positive tabs-icon-only">

            <ion-tab title="Home" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline">
                <div style="margin-top: 44px">
                    <i class="fa fa-spinner fa-spin" ng-show='loading'></i>
                    <div class="top-container" ng-show="!loading">
                        <ul>
                            <li ng-repeat='item in wishlist_mine track by $index'>
                                <div on-tap='viewList(item);'>{{item.name}}</div>
                                {{item.created_at}} - Type: {{item.type}} - Followers: {{item.followers.length}} - Products: {{item.meta.products}}
                                <br/>
                                <span on-tap='editList(item);'>Edit</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </ion-tab>
            <ion-tab title="About" icon-on="ion-ios7-clock" icon-off="ion-ios7-clock-outline">
                <div style="margin-top: 44px">
                    <i class="fa fa-spinner fa-spin" ng-show='loading'></i>
                    <div class="top-container" ng-show="!loading">
                        <ul>
                            <li ng-repeat='item in wishlist_their track by $index'>
                                <div on-tap='viewList(item);'>{{item.name}}</div>
                                {{item.created_at}} - Type: {{item.type}} - Followers: {{item.followers.length}} - Products: {{item.meta.products}}
                            </li>
                        </ul>
                    </div>
                </div>
            </ion-tab>
        </ion-tabs>
    </ion-pane>
</ion-view>
