<ion-view>
    <ion-nav-title>{{wishlist_name}}</ion-nav-title>
    <ion-content overflow-scroll='false'>
        <div  ng-show='list_detail' class="box" style="background-color: white">
            <div class="list_name">{{list_detail.name}}</div>
            <div class="list_desc">{{list_detail.description}}</div>
            <div class="list_stats">
                {{list_detail.meta.products}} clips | {{list_detail.followers.length}} followers | {{list_detail.meta.likes}} likes
            </div>
            <div>
                <button on-tap='followList()' ng-if="!follow" class="button">Follow</button>
                <button on-tap='unFollowList()' ng-if="follow" class="button">UnFollow</button>
            </div>
        </div>
        <div ui-view="pin-content"></div>
    </ion-content>
</ion-view>
