<ion-view>
    <ion-nav-title>{{item.item_id.name}}</ion-nav-title> 
    <ion-content>
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
        </ion-refresher>
        <div ng-show="item" id="wishlist_item">
            <div class="box">
                <div class="pro-img">
                    <ion-slide-box ng-if="item.item_id.more_images" show-pager="true" style="height: 350px">
                        <ion-slide>
                            <img img-loader ng-src='{{item.item_id.img| picture:picture_width}}'/>
                        </ion-slide>
                        <ion-slide ng-repeat="img in item.item_id.more_images">
                            <img img-loader ng-src='{{img}}'/>
                        </ion-slide>
                    </ion-slide-box>
                    <img ng-if="!item.item_id.more_images" img-loader ng-src='{{item.item_id.img| picture:picture_width}}' />
                    <div ng-if='mine' on-tap='delete();' class="grey_bg delete_item">
                        <i class="ion-trash-a"></i>
                    </div>
                    <div class="like-heart-big red-back" ng-if="!me_like && !mine" on-tap='like();'>
                        <i class="ion-thumbsup"></i>
                    </div>
                    <div class="red-back wishlist-product-img-big" ng-if='!me_pin && !mine'>
                        <div on-tap='pin();' ng-show="item.item_id.pins.length == 0 || !item.item_id.pins">
                            <i class="ion-ios-heart"></i>
                        </div>
                    </div>
                </div>
                <div class="pro-info">
                    <div class="pro-name">
                        <div ng-show="item.item_id.name.length > 0">{{item.item_id.name}}</div>
                        <span class="arrow" ng-show='item.item_id.brand.length > 0'>Arrow </span>
                        <span class="e-site" ng-show='item.item_id.website.length > 0'>
                            <i class='site {{item.item_id.website}}'></i>
                            {{item.item_id.website}}
                        </span>
                    </div>
                    <div class="pro-price" ng-show="item.item_id.price * 1 > 0">
                        Rs.{{item.item_id.price}}
                    </div>

                    <div class="social-share">
                        <div class="social-icon" ng-if="isMobile && item.item_id.href.length > 0">
                            <i class="ion-social-whatsapp-outline red-color" on-tap='whatsapp(item)'></i>
                            <i class="ion-social-twitter red-color" on-tap='twitter(item)'></i>
                            <i class="ion-social-facebook red-color"  on-tap='facebook(item)'></i>
                            <i class="ion-android-share-alt red-color" on-tap='shareAll(item)'></i>
                        </div>
                        <!--social icon closed here-->

                        <div ng-if="!isMobile && item.item_id.href.length > 0">
                            <div class="fb-like" data-href="{{item.item_id.href}}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                            <div class="twitter">
                                <a class="twitter-share-button"
                                   href="https://twitter.com/share" data-url="{{item.item_id.href}}" data-text="{{item.item_id.name}}"  data-size="small">
                                    Tweet
                                </a>
                            </div>
                        </div>
                    </div>
                    <button class="button pro-button signup-button red-back" ng-show="item.item_id.href.length > 0" on-tap="view(item);">BUY NOW</button>
                    <div class="clearfix"></div>

                    <span ng-if="me_like">
                        <span ng-if="item.likes.length > 1"><span on-tap="unlike();">You</span> and <span on-tap='likeList();'>{{item.likes.length - 1}} Likes</span></span>
                        <span ng-if="item.likes.length == 1" on-tap="unlike();">You Like</span>
                    </span>
                    <span ng-if='me_pin'>
                        <span ng-if='item.item_id.pins.length > 1'>
                            <div on-tap='pinList();' ng-show="item.item_id.pins.length > 0">You and {{item.item_id.pins.length - 1}} Pins</div>                        
                        </span>
                        <span ng-if='item.item_id.pins.length == 1'>
                            <div on-tap='pinList();' ng-show="item.item_id.pins.length > 0">You Pins</div>                        
                        </span>
                    </span>
                    <span ng-if="!me_like">
                        <span ng-if="item.likes.length > 0"><span on-tap='likeList();'>{{item.likes.length}} Likes</span></span>
                    </span>
                    <span ng-if='!me_pin'>
                        <span ng-if='item.item_id.pins.length > 0'>
                            <div on-tap='pinList();'>{{item.item_id.pins.length}} Pins</div>                        
                        </span>
                    </span>
                </div>
            </div>
            <div class="box" ng-show="item.item_id.description.length > 0">
                <div>{{item.item_id.description}}</div>
            </div>
            <div class="box">
                <div class="user_image"  on-tap="profile(item.user_id);">
                    <img ng-src='{{item.user_id.picture| picture:50}}'/>
                </div>
                <div class="center_box" style="margin-left: 50px;margin-right: 20px">
                    <span class="red-color info" on-tap="profile(item.user_id);">{{item.user_id.name}}</span>
                    <span class="grey-color info">
                        <div ng-if="me_follow_user">
                            <span class="grey-color" ng-if="item.user_id.followers.length > 1">
                                <i class="ion-ios7-people fa-lg red-color"></i>
                                <span on-tap='followUserList();'>You and {{item.user_id.followers.length - 1}} followers</span>
                            </span>
                        </div>
                        <div ng-if="!me_follow_user && !mine">
                            <span class="grey-color" ng-show="item.user_id.followers.length > 0">
                                {{item.user_id.followers.length}} Followers
                            </span>
                            <span class="grey-color" ng-show="!item.user_id.followers || item.user_id.followers.length == 0">Be First To Follow User</span>
                        </div>
                </div>
                <button ng-if="!me_follow_user && !mine" on-tap='followUser(item.user_id._id);' class="abs-follow-button button-icon red-color ion-ios-people fa-2x"></button>
                <button ng-if="me_follow_user" on-tap='unFollowUser(item.user_id._id);' class="abs-follow-button black-font ion-ios-people-outline fa-2x"></button>
                <div class="clearfix"></div>
            </div>
            <div class="added-to box">
                <div class="center_box" style="margin-right: 20px">
                    <span class="info grey-color">Added To List</span>
                    <span class="info black-font" on-tap="viewList(item.list_id.__id,item.list_id.name)" >{{item.list_id.name}}</span>
                    <span class="grey-color" ng-if="me_follow_list">
                        <span ng-if="item.list_id.followers.length > 1">
                            <span class="clip-follower">{{item.list_id.products.length}} clips . 
                                <i class="ion-ios7-people fa-lg red-color"></i>You and 
                                <div on-tap='followListList();'>{{item.list_id.followers.length - 1}}Followers</div>
                            </span>
                        </span>
                        <span ng-if="item.list_id.followers.length == 1">
                            <span class="clip-follower">{{item.list_id.products.length}} clips
                            </span>
                        </span>
                    </span>
                    <span class="info grey-color" ng-if="!me_follow_list && !mine">
                        <span class="clip-follower">{{item.list_id.products.length}} clips .&nbsp; 
                            <div on-tap='followList();' ng-show="item.list_id.followers.length > 0">
                                <i class="ion-ios7-people fa-lg red-color"></i> {{item.list_id.followers.length}}  Followers
                            </div>
                            <span ng-show="!item.list_id.followers || item.list_id.followers.length == 0">
                                Be First To Follow List
                            </span>
                        </span>
                    </span>
                </div>
                <button ng-if="me_follow_list" on-tap='unFollowList();' class="abs-follow-button button-icon black-font ion-ios-people-outline fa-2x"></button>
                <button on-tap='followList();' ng-if="!me_follow_list && !mine" class="abs-follow-button button-icon red-color ion-ios-people fa-2x"></button>
                <div class="clearfix"></div>
            </div>


            <div class="hide-on-keyboard-open" data-tap-disabled="true" id="map-canvas-parent" style="height: 200px" ng-if="item.location.lat">
                <div id="map-canvas" style="width: 100%; height: 100%">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
            <div class="user-comments box">
                <h4>Comments</h4>
                <span class="grey-color" ng-if="item.comments.length == 0">Be the first to comment</span>
                <div ng-repeat="comment in item.comments track by $index">
                    <div>
                        <div class="user_image">
                            <img ng-src='{{comment.picture|picture:50}}' style="max-width: 50px;max-height: 50px;" />
                        </div>
                        <div class="user-info">
                            <div>{{comment.comment}}</div>
                            <div>{{comment.created_at| prettyDate}}</div>
                            <div on-tap='removeComment(comment);'>&times;</div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
                <div class="load-more" ng-if='item.comments.length > 5 && !showMoreComment'>
                    <span class="red-color" on-tap='loadAllComments()'>Load More</span>
                </div>
                <div class="clearfix"></div>
                <div class="comment-frm">


                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <input ng-model="item.comment" keyboard-attach type="text" placeholder="Write a comment" class="black-font"/>
                        </label>
                        <button on-tap='addComment();' class="follow-btn">COMMENT</button>
                    </div>


                    <div class="clearfix"></div>
                </div>
            </div>

        </div>

    </ion-content>
</ion-view>
