<ion-view>
    <ion-nav-title>My Wishlist</ion-nav-title>
    <ion-content>
        <i class="fa fa-spinner fa-spin" ng-show='loading'></i>
        <div class="top-container" ng-show="!loading">
            <ul>
                <li ng-repeat='item in wishlist track by $index'>
                    <div on-tap='viewList(item);'>{{item.name}}</div>
                    {{item.description}}
                    <br/>
                    {{item.created_at}} - Type: {{item.type}} - Followers: {{item.followers}} - Products: {{item.meta.products}}
                    <br/>
                    <span on-tap='editList(item);'>Edit</span>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>
