<ion-view>
    <ion-nav-title>My Wishlist</ion-nav-title>
    <ion-pane>
        <ion-tabs class="tabs-positive tabs-icon-only">
            <ion-tab title="Mine" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing" href='#app/wishlist/mine'>
                <ion-nav-view name="tab-mine"></ion-nav-view>
            </ion-tab>
            <ion-tab title="Following" icon-on="ion-ios7-clock" icon-off="ion-ios7-clock"  href='#app/wishlist/their'>
                <ion-nav-view name="tab-their"></ion-nav-view>
            </ion-tab>
        </ion-tabs>
    </ion-pane>
</ion-view>
