<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Pinch to Zoom</h1>
        <div class="button button-icon" on-tap="closeZoom();">
            <i class="ion-android-close close-tab-icon white-color social-close"></i>
        </div>
    </ion-header-bar>
    <ion-content>
        <ion-scroll delegate-handle="zoom-scroll" locking="false" zooming="true" direction="xy" style="width: 100%;" ng-style="{'height': zoom_height}">
            <img ng-src="{{zoom_main_image}}" />
        </ion-scroll>
    </ion-content>
    <ion-footer-bar>
        <ion-scroll scrollbar-x="false" locking="false" zooming="false" direction="x" style="width: 100%; height: 44px">
            <div id="similar" class="zoom_similar">
                <ul id="scroller" style="width: auto;">
                    <li on-tap="openZoomTap($index);" ng-repeat="image in zoom_images track by $index" style="float: left">
                        <div class="similar-img">
                            <img img-loader ng-src='{{image}}'/>
                        </div>
                    </li>
                    <div class="clearfix"></div>
                </ul>
            </div>              
        </ion-scroll>
    </ion-footer-bar>
</ion-modal-view>