<div class="list card updates" ng-repeat="item in updates track by $index">
    <div class="item item-avatar" ng-if="item.user">
        <img class="rounded" ng-src="{{item.user.picture|picture:50:50}}">
        <h2>{{item.user.name}}</h2>
        <p>{{item.time|prettyDate}}</p>
    </div>
    <div class="item item-body">
        <div>
            {{item.body.title}}
        </div>
        <img ng-if="item.body.image" class="full-image" ng-src="{{item.body.image|picture:320}}">
    </div>
    <button class="button-clear icon ion-close delete" on-tap='deleteItem(item,$index)'></button>
</div>