<div class="top-container" ng-show="wishlist_mine">
    <div class="clip-label black-font add-to-clip">
    <div class="username">
                <div class="user_image">
                    <img ng-src='img/user-image.jpg'/>
                </div>
                <div class="user-info">
                    <span class="red-color">Manish Prakash</span>
                    <span><button>EDIT PROFILE</button></span>
               <div class="clearfix"></div>      
    </div>
         <div class="clearfix"></div>
        
    </div>
    <div class="follow-details">
            <span>12 <span class="grey-color">Following</span></span>   
            <span>39 <span class="grey-color">Followers</span></span>
            <span>60 <span class="grey-color">Pins</span></span>
    </div>
        
        
        
        
        <ul>
            <li>MY PINS</li>
            <li>MY WISHLIST</li>
            <li>FOLLOWERS</li>
            <li>FOLLOWINGS</li>
        </ul>
        
        
        
        
        
        
        
        
        
    <ul>
        <li ng-repeat='item1 in wishlist_mine track by item1._id'>
            <div on-tap='viewList(item1);'>{{item1.name}}</div>
            {{item1.created_at}} - Type: {{item1.type}} - Followers: {{item1.followers.length}} - Products: {{item1.meta.products}}
            <br/>
            <span on-tap='editList(item1);'>Edit</span>
        </li>
    </ul>
</div>
    </div>