<ion-view view-title="ABOUT US">
    <ion-content>
        <div id="about-content">
            <div style="width: 100%;text-align: center">
                <img src="img/logo.png"  alt="FashionIQ"/>
            </div>
            <div style="width: 100%;text-align: center">
                <b>Discover Fashion</b>
            </div>
            <Br/>
            <p>
                Use fashioniq (from want, need, love) to discover and shop products in <span class="accent">fashion</span>, <span class="accent">beauty</span> & <span class="accent">lifestyle</span> and <span class="accent">home decor</span> from all stores and brands you love, all in one place. Fashioniq is the best shopping entertainment. It brings you endless stream of the most trending products online, all posted by people like you. 
            <p>
            <div>
                With fashioniq you can:
            </div>    
            <div>- <b>Follow</b> your favourite people.</div>
            <div>- <b>Save</b> or <b>buy</b> things you love.</div>
            <div>- <b>Clip</b> things you like, create <b>wishlist</b> for gifts, shopping list or shopping inspiration.</div>
            <div>- Share your wishlist to public, or send them to your best friend, or keep them completely private.</div>
            <div>- Get instant notification for <b>'Price Drops'</b> as we watch prices for you.</div>
            <br/>
            <p>
                Products on fashioniq are posted by its users. Products include fashion, clothes, accessories for <span class="accent">women</span>, <span class="accent">men</span> and <span class="accent">kids</span>, as well as home decor and furniture.
            </p>
            <p>
                We should mention fahioniq is dangerous for your free time and wallet! 
            </p>
        </div>
    </ion-content>
</ion-view>
