<ion-view overflow-scroll="true">
    <ion-nav-title>{{currentState.title}}</ion-nav-title> 
    <ion-content pinch pinch-count="3" lazy-scroll ng-class="!hideFilterBox ? 'has-footer' : ''">
        <ion-refresher
            pulling-text="Refresh..."
            on-refresh="refreshCategory()">
        </ion-refresher>
        <div class="center_spinner">
            <ion-spinner ng-if='product_loading'></ion-spinner>
        </div>
        <div class="category" ng-show="!product_loading">

            <div ng-show='currentState.search.length > 0'>
                <div on-tap='removeSearch()' class="select_filter accent_bg">
                    Search: {{currentState.search}} <i class="ion-android-close"></i>
                </div>
            </div>
            <div ng-show='currentState.filters.length > 0'>
                <div on-tap='removeFilter(filter)' class="select_filter accent_bg" ng-repeat="filter in currentState.filters">
                    {{filter.name}} <i class="ion-android-close"></i>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="result-empty" ng-if="products.length == 0">
                <span class="info"><img src="img/favicon-not.png"/></span>
                <span class="info grey-color">No Products Found</span>
            </div>

            <div class="product pinch_ele" id="{{prod._id}}" item-height="265px" force-refresh-images='true' ng-repeat="prod in products track by prod._id">
                <div class="image" on-tap="openProduct(prod);">
                    <img img-loader ng-src="{{prod.img}}"/>
                    <div class="heart my-wishlist-img accent_bg" on-tap="wishlist(prod,$event);">
                        <i class="ion-ios-heart"></i>
                    </div>
                </div>
                <div class="bottom_box">
                    <div class="name primary_text" on-tap="openProduct(prod);" ng-bind='prod.name'></div>
                    <div class="website e-site secondary_text"><i class='site {{prod.website}}'></i><span ng-bind='prod.website'></span></div>
                    <!--<div class="brand" ng-show="prod.brand.length > 0" ng-bind='prod.brand'></div>--> 
                    <div class="price primary_text" ng-if="prod.price * 1 > 20">
                        Rs.<span ng-bind='prod.price'></span>
                        <span style="font-size:.82em" class="offrate accent" ng-show="prod.offrate * 1 > 0">(-{{prod.offrate}}%)</span>
                    </div>
                    <div class="drop-price" ng-if="prod.price * 1 > 20">
                        <i class="fa fa-caret-up up-price" ng-if="prod.price_drop > 0">&nbsp;<span ng-bind='prod.price_drop'></span></i>
                        <i class="fa fa-caret-down" ng-if="prod.price_drop < 0">&nbsp;<span ng-bind='prod.price_drop'></span></i>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <ion-infinite-scroll
            immediate-check='false'
            ng-if="!product_loading && currentProducts && currentState.page && showProducts && products.length > 0 && startPaging"
            on-infinite="nextPage()" distance='1%'>
        </ion-infinite-scroll>
        <br/>
    </ion-content>
    <ion-footer-bar class="bar-light" ng-show="products.length > 0 && !hideFilterBox && isCategoryPage && (sortBy.length > 0 || filters.length > 0)">
        <div class="clearfix"></div>
        <div class="row" ng-show="false">
            <div class="col"></div>
        </div>
        <div class="row" ng-show="(sortBy.length > 0 || filters.length > 0)">
            <div class="col" ng-if="sortBy.length > 0">
                <button class="button button-full button-clear filter-button" on-tap="showSortByFn();">
                    <i class="ion-android-options accent"></i>
                    Sort By
                </button>
            </div>
            <div class="col" ng-if="filters.length > 0">
                <button class="button button-full button-clear filter-button" on-tap="showFiltersFn();">
                    <i class="icon ion-funnel accent"></i>
                    Filter
                </button>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
