<ion-view cache-view="false" title='SignUp' cache-view="false">
    <ion-content  overflow-scroll='true'>
        <div id="account-page">
            <div class="register">
                <form id="register" role="form" name="signup_form" novalidate ng-submit="create(signup_form)">
                    <div class="list">
                        <label class="item item-input item-floating-label">
                            <span class="input-label black-font">Name</span>
                            <input type="text" name="name" ng-model='register_obj.name' placeholder="Name" required="">
                            <div class="m-t-xs" ng-show="signup_form.name.$invalid && signup_form.submitted">
                                <span class="text-danger" ng-show="signup_form.name.$error"><i class="fa fa-exclamation-triangle"></i> Please enter your name</span>
                            </div>
                        </label>
                        <label class="item item-input item-floating-label">
                            <span class="input-label black-font">Email</span>
                            <input type="email" ng-model='register_obj.email' ng-pattern="/^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,3})$/i" required name="emailid" placeholder="Email">
                            <div class="m-t-xs" ng-show="signup_form.emailid.$invalid && signup_form.submitted">
                                <span class="text-danger" ng-show="signup_form.emailid.$error"><i class="fa fa-exclamation-triangle"></i> Please enter a valid emailId</span>
                            </div>
                        </label>
                        <label class="item item-input item-floating-label">
                            <span class="input-label black-font">Password</span>
                            <input type="password" name="password1" ng-model='register_obj.password' placeholder="Password" required="">
                            <div class="m-t-xs" ng-show="signup_form.password1.$invalid && signup_form.submitted">
                                <span class="text-danger" ng-show="signup_form.password1.$error"><i class="fa fa-exclamation-triangle"></i> Please enter a password</span>
                            </div>
                        </label>
                    </div>
                    <div class="padding">
                        <button type="submit" class="button signup-button accent_bg">
                            SIGN UP
                            <i class="fa fa-spinner fa-spin" ng-show="register_status == 1"></i>
                            <i class="fa fa-times" ng-show="register_status == 3"></i>
                            <i class="fa fa-check" ng-show="register_status == 2"></i>
                        </button>
                    </div>
                    <div class="register-bottom" align="center"><span class="check-account">Already have an account? </span><span class="login-click accent" on-tap='showLogin();'>Log In</span>
                    </div>
                </form>
            </div>
            <div>
                <div class="alter">
                    Alternatively,
                </div>
                <div class="padding">
                    <button class="button google-button" on-tap='google();'>
                        <i class="fa fa-google-plus fa-lg g-social-icon"></i>
                        Sign up with <span class="social-site-name">Google+</span>
                        <i class="fa fa-spinner fa-spin" ng-show="google_status == 1"></i>
                        <i class="fa fa-times" ng-show="google_status == 3"></i>
                        <i class="fa fa-check" ng-show="google_status == 2"></i>
                    </button>
                </div>
                <div class="padding">
                    <button class="button fb-button" on-tap='facebook();'>	
                        <i class="fa fa-facebook fa-lg fb-social-icon"></i>
                        Sign up with <span class="social-site-name">Facebook</span>
                        <i class="fa fa-spinner fa-spin" ng-show="facebook_status == 1"></i>
                        <i class="fa fa-times" ng-show="facebook_status == 3"></i>
                        <i class="fa fa-check" ng-show="facebook_status == 2"></i>
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
