<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">User List</h1>
        <div class="button button-icon" on-tap="closeModel();">
            <i class="ion-android-close close-tab-icon white-color social-close"></i>
        </div>
    </ion-header-bar>
    <ion-content>
        <ul>
            <li ng-repeat='user in users'>
                <img  class="rounded" ng-if='user.picture' ng-src='{{user.picture|picture:50:50}}' style="max-width: 50px;max-height: 50px" />
                <div>{{user.name}}</div>
                <div class="display_status">{{user.status}}</div>
                <button class="button" on-tap='followUser(user._id,true)'>FOLLOW</button>
            </li>

        </ul>
    </ion-content>
    <ion-footer-bar>
        <div class="padding">
            <button  on-tap='closeModel();' class="button">
                DONE
            </button>
        </div>
    </ion-footer-bar>
</ion-modal-view>