<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">ADD TO LIST</h1>
        <div class="button button-icon " on-tap="closeWishlistModel();">
            <i class="ion-ios-close-empty close-tab-icon white-color social-close"></i>
        </div>
    </ion-header-bar>
    <ion-content>
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="refreshList()">
        </ion-refresher>
        <div id="clip_1">
            <div class="clip-label black-font add-to-clip"><span>ADD TO LIST</span></div>
            <div class="similar-product-label  clip-font-color clip-label clip-share">Your Lists</div>
            <ul>
                <li class="clip-font-color new add-new clip-it" on-tap='newList();'>
                    <i class="fa fa-plus-square-o fa-3px"></i>
                    <span>Create a New Clipboard</span>
                </li>
                <li on-tap='tickList(list);' ng-repeat='list in lists.me| orderBy:sort_order' class="clip-it">
                    <div class="black-font clip-name">{{list.name}} <i ng-if="list.type == 'private'" class="ion-ios-locked"></i>
                    </div>
                    <div class='clip-info'> 
                        <span ng-show='list.meta.products != 0'>{{list.meta.products}} clips <i class="fa fa-circle"></i> </span>
                        <span ng-show='list.meta.likes != 0'><i class="ion-ios-heart-outline red-color"></i> {{list.meta.likes}} </span> 
                        <span ng-show='list.followers.length != 0'><i class="ion-ios-people red-color"></i> {{list.followers.length}} </span> 
                        <span>Created {{list.created_at| prettyDate}} </span>
                        <i ng-show="list.tick" class="fa fa-check list-tick red-color"></i>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </li>

            </ul>
        </div>
    </ion-content>
    <ion-footer-bar>
        <div class="clip-it">
            <button on-tap='selectList();' class="button signup-button red-back disable-user-behavior">
                CLIP IT
            </button>
        </div> 
    </ion-footer-bar>
</ion-modal-view>